$fallbackFonts: -apple-system, BlinkMacSystemFont, 'Roboto', 'Source Sans Pro', sans-serif;
$textFontFamily: "SF Text", $fallbackFonts;
$headingFontFamily: "SF Display", $fallbackFonts;

$midGrey: #595959;

@mixin perfectCentre {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin verticallyCentreContents {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}