@import "../styles/vars";

$pageWidth: 750px;

.wrapper {
  @include perfectCentre();
  box-sizing: border-box;
  max-width: 750px;
  padding: 50px;
  width: 100%;
}

.headline {
  display: inline-block;
  margin: 0 auto;
}
