@import "../../styles/_vars";

.list {
  display: flex;
  list-style: none;
  padding: 0;

  li {
    @include verticallyCentreContents;
    margin-right: 20px;

    &.icon a {
      @include verticallyCentreContents;
    }

    &.mail a {
      color: black;
    }

    &.linkedIn a {
      color: #0077b5;
    }

    &.github a {
      color: #333;
    }

    &.dribbble a {
      color: #ea4c89;
    }

    &.twitter a {
      color: #1da1f2;
    }
  }
}
