@import "../../styles/_vars";

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 10px;
}

.list li {
  display: inline-flex;
  flex-shrink: 0;
}

.badges,
.icons {
  margin-bottom: 20px;
}

.badge,
.icon {
  @include verticallyCentreContents;
  height: 28px;
  margin-right: 20px;
}

.badge {
  flex-shrink: 0;
}

.icon {
  margin-right: 20px;

  a {
    @include verticallyCentreContents;
    display: inline-flex;
  }

  &.mail a {
    color: black;
  }

  &.linkedIn a {
    color: #0077b5;
  }

  &.github a {
    color: #333;
  }

  &.dribbble a {
    color: #ea4c89;
  }

  &.twitter a {
    color: #1da1f2;
  }
}
