@import "../../styles/_vars";

.title,
.subtitle {
  font-weight: normal;
  margin: 0;
}

.title {
  font-size: 4em;
  margin-bottom: 10px;
}

.subtitle {
  color: $midGrey;
  font-size: 2em;
  font-weight: normal;
}
